.table{
    width: 90%;
    margin-left: 60px;
    align-items: center;
    border-collapse: collapse;
}



.search-button-new{
    width: 60%;
    margin: 0px 800px;
    display: flex;
    align-items: baseline;
    
}
tr:nth-child(even) {
    background-color:  rgba(147, 147, 147, 1);
}
tr:nth-child(od) {
     background: linear-gradient(90deg, rgba(147, 147, 147, 1) 0%, rgba(194, 194, 194, 1) 35%, rgba(147, 147, 147, 1) 100%);
}

@media screen and (min-width:420px) and (max-width:1000px) {
    /* For tablets: */
    .search-button-new  {
        width: 90%;
        margin: 0px 0px;
        display: flex;
        align-items: baseline;
    }
   
  }
  @media screen and (min-width: 30em) and (orientation: landscape) {
    /* For tablets: */
    .search-button-new  {
        width: 90%;
        margin: 0px 1050px;
        display: flex;
        align-items: baseline;
    }
   
  }
