.navbar{
    background-color: #4e4e4e;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    font-family: "CanaroBook"; 
}

.links{
    font-family: "CanaroLight";
}

.text-glow{
    text-shadow: 0 0 6px #fff, 0 0 6px #fff, 0 0 2px;
}

.icon-glow{
    filter: drop-shadow(0px 0px 2px #fff);
}