@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(147, 147, 147, 1);
  font-family: "CanaroBook"
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: CanaroLight;
  src: url(/src/assets/fonts/Canaro-Light.otf) format("truetype");

} 

@font-face {
  font-family: CanaroBlack;
  src: url(/src/assets/fonts/Canaro-Black.ttf) format("truetype");

} 

@font-face {
  font-family: CanaroSemiBold;
  src: url(/src/assets/fonts/Canaro-SemiBold.ttf) format("truetype");
} 

@font-face {
  font-family: CanaroBook;
  src: url(/src/assets/fonts/Canaro-Book.ttf) format("truetype");
} 

@font-face {
  font-family: CanaroBold;
  src: url(/src/assets/fonts/Canaro-Bold.ttf)
}