@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Canaro Black Italic";
  src: local("Canaro Black Italic"),
    url(./assets/fonts/Canaro-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Canaro Black";
  src: local("Canaro Black"),
    url(./assets/fonts/Canaro-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Canaro SemiBold";
  src: local("Canaro SemiBold"),
    url(./assets/fonts/Canaro-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Canaro Semi Bold Italic";
  src: local("Canaro Semi Bold Italic"),
    url(./assets/fonts/Canaro-SemiBoldItalic.ttf) format("truetype");
}
