.CircularProgressbar-path {
  stroke: #fceba8 !important;
  stroke-width: 5;
}

.CircularProgressbar-trail {
  stroke: #cecacd !important;
  stroke-width: 2;
}

.CircularProgressbar-text {
  fill: white !important;
}
